table.center {
	margin-left: auto;
	margin-right: auto;
}

table.center > tr {
	margin-left: auto;
	margin-right: auto;
}

table.center > tr > td {
	margin-left: auto;
	margin-right: auto;
	background: azure;
	color: darkslategrey;
	text-align: center;
}

table.center > tr > th {
	margin-left: auto;
	margin-right: auto;
	background: cadetblue;
	color: cornsilk;
	text-align: center;
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: aliceblue;
	background: cornflowerblue;
}

h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}